openapi: 3.0.3
info:
  title: Whop REST API (v1) Checkout Configurations API
  description: 'The Whop REST API (v1) is the current primary REST surface for the Whop digital-products / memberships / creator-commerce platform. It lets applications manage memberships and access, products (access passes) and their pricing plans, take payments and issue refunds, manage users and companies, build checkout flows, pay out users via transfers, and register webhooks. All requests are authenticated with a Bearer token (`Authorization: Bearer <API_KEY>`); a Company/Account API key and an App API key are the two key types, with OAuth tokens used when acting on behalf of a signed-in Whop user.

    Grounding notes: base URLs, the Bearer scheme, the `List memberships` and `List payments` query parameters and response fields, and the resource / operation catalog are taken from Whop''s published documentation at docs.whop.com (see the docs `llms.txt` index). Individual action sub-paths (for example the cancel / pause / resume membership actions) are modeled from the documented operation names; verify exact path segments against the live reference on reconciliation.'
  version: '1.0'
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Whop Terms of Service
    url: https://whop.com/terms-of-service/
servers:
- url: https://api.whop.com/api/v1
  description: Production
- url: https://sandbox-api.whop.com/api/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Checkout Configurations
  description: Reusable checkout / payment flow configurations.
paths:
  /checkout_configurations:
    get:
      operationId: listCheckoutConfigurations
      tags:
      - Checkout Configurations
      summary: List checkout configurations
      responses:
        '200':
          description: A page of checkout configurations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CheckoutConfiguration'
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
    post:
      operationId: createCheckoutConfiguration
      tags:
      - Checkout Configurations
      summary: Create a checkout configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutConfiguration'
      responses:
        '201':
          description: The created checkout configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutConfiguration'
  /checkout_configurations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveCheckoutConfiguration
      tags:
      - Checkout Configurations
      summary: Retrieve a checkout configuration
      responses:
        '200':
          description: A checkout configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutConfiguration'
    delete:
      operationId: deleteCheckoutConfiguration
      tags:
      - Checkout Configurations
      summary: Delete a checkout configuration
      responses:
        '204':
          description: The checkout configuration was deleted.
components:
  schemas:
    PageInfo:
      type: object
      description: Cursor pagination metadata.
      properties:
        has_next_page:
          type: boolean
        has_previous_page:
          type: boolean
        start_cursor:
          type: string
          nullable: true
        end_cursor:
          type: string
          nullable: true
    CheckoutConfiguration:
      type: object
      description: A reusable checkout / payment flow configuration.
      properties:
        id:
          type: string
        plan_id:
          type: string
          nullable: true
        redirect_url:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Whop API key
      description: 'Bearer token authentication. Use a Company/Account API key or an App API key in the `Authorization: Bearer <API_KEY>` header. OAuth access tokens are used when acting on behalf of a signed-in Whop user.'
