openapi: 3.2.0
info:
  title: Whop REST API (v1) Users API
  description: The Whop REST API (v1) is the current primary REST surface for the Whop digital-products / memberships / creator-commerce platform.
  version: '1.0'
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Whop Terms of Service
    url: https://whop.com/terms-of-service/
servers:
- url: https://api.whop.com/api/v1
  description: Production
- url: https://sandbox-api.whop.com/api/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Users
  description: Whop users and their access checks.
paths:
  /users:
    get:
      operationId: listUsers
      tags:
      - Users
      summary: List users
      parameters:
      - name: company_id
        in: query
        schema:
          type: string
      - name: after
        in: query
        schema:
          type: string
      - name: first
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A page of users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
  /users/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveUser
      tags:
      - Users
      summary: Retrieve a user
      responses:
        '200':
          description: A user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    post:
      operationId: updateUser
      tags:
      - Users
      summary: Update a user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: The updated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users/{id}/check_access:
    get:
      operationId: checkUserAccess
      tags:
      - Users
      summary: Check user access
      description: Checks whether a user has access to a given access pass / experience. Path segment modeled from the documented `check-user-access` operation.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: access_pass_id
        in: query
        schema:
          type: string
      - name: experience_id
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Access check result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_access:
                    type: boolean
                  access_level:
                    type: string
components:
  schemas:
    PageInfo:
      type: object
      description: Cursor pagination metadata.
      properties:
        has_next_page:
          type: boolean
        has_previous_page:
          type: boolean
        start_cursor:
          type:
          - string
          - 'null'
        end_cursor:
          type:
          - string
          - 'null'
    User:
      type: object
      description: A Whop user.
      properties:
        id:
          type: string
        username:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        profile_pic_url:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Whop API key
      description: 'Bearer token authentication. Use a Company/Account API key or an App API key in the `Authorization: Bearer <API_KEY>` header. OAuth access tokens are used when acting on behalf of a signed-in Whop user.'
