openapi: 3.2.0
info:
  title: Whop REST API (v1) Promo Codes API
  description: The Whop REST API (v1) is the current primary REST surface for the Whop digital-products / memberships / creator-commerce platform.
  version: '1.0'
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Whop Terms of Service
    url: https://whop.com/terms-of-service/
servers:
- url: https://api.whop.com/api/v1
  description: Production
- url: https://sandbox-api.whop.com/api/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Promo Codes
  description: Discount / promo codes applied at checkout.
paths:
  /promo_codes:
    get:
      operationId: listPromoCodes
      tags:
      - Promo Codes
      summary: List promo codes
      responses:
        '200':
          description: A page of promo codes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PromoCode'
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
    post:
      operationId: createPromoCode
      tags:
      - Promo Codes
      summary: Create a promo code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
      responses:
        '201':
          description: The created promo code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
  /promo_codes/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrievePromoCode
      tags:
      - Promo Codes
      summary: Retrieve a promo code
      responses:
        '200':
          description: A promo code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
    post:
      operationId: updatePromoCode
      tags:
      - Promo Codes
      summary: Update a promo code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
      responses:
        '200':
          description: The updated promo code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
    delete:
      operationId: deletePromoCode
      tags:
      - Promo Codes
      summary: Delete a promo code
      responses:
        '204':
          description: The promo code was deleted.
components:
  schemas:
    PromoCode:
      type: object
      description: A discount / promo code applied at checkout.
      properties:
        id:
          type: string
        code:
          type: string
        amount_off:
          type:
          - number
          - 'null'
        percent_off:
          type:
          - number
          - 'null'
        status:
          type: string
        created_at:
          type: string
          format: date-time
    PageInfo:
      type: object
      description: Cursor pagination metadata.
      properties:
        has_next_page:
          type: boolean
        has_previous_page:
          type: boolean
        start_cursor:
          type:
          - string
          - 'null'
        end_cursor:
          type:
          - string
          - 'null'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Whop API key
      description: 'Bearer token authentication. Use a Company/Account API key or an App API key in the `Authorization: Bearer <API_KEY>` header. OAuth access tokens are used when acting on behalf of a signed-in Whop user.'
