openapi: 3.2.0
info:
  title: Whop REST API (v1) Transfers API
  description: The Whop REST API (v1) is the current primary REST surface for the Whop digital-products / memberships / creator-commerce platform.
  version: '1.0'
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Whop Terms of Service
    url: https://whop.com/terms-of-service/
servers:
- url: https://api.whop.com/api/v1
  description: Production
- url: https://sandbox-api.whop.com/api/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Transfers
  description: Programmatic payouts to users and connected accounts.
paths:
  /transfers:
    get:
      operationId: listTransfers
      tags:
      - Transfers
      summary: List transfers
      responses:
        '200':
          description: A page of transfers.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transfer'
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
    post:
      operationId: createTransfer
      tags:
      - Transfers
      summary: Create a transfer
      description: Programmatically pay out a user or connected ledger account.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transfer'
      responses:
        '201':
          description: The created transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
  /transfers/{id}:
    get:
      operationId: retrieveTransfer
      tags:
      - Transfers
      summary: Retrieve a transfer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A transfer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
components:
  schemas:
    PageInfo:
      type: object
      description: Cursor pagination metadata.
      properties:
        has_next_page:
          type: boolean
        has_previous_page:
          type: boolean
        start_cursor:
          type:
          - string
          - 'null'
        end_cursor:
          type:
          - string
          - 'null'
    Transfer:
      type: object
      description: A programmatic payout to a user or ledger account.
      properties:
        id:
          type: string
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
        destination_id:
          type:
          - string
          - 'null'
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Whop API key
      description: 'Bearer token authentication. Use a Company/Account API key or an App API key in the `Authorization: Bearer <API_KEY>` header. OAuth access tokens are used when acting on behalf of a signed-in Whop user.'
