openapi: 3.2.0
info:
  title: Whop REST API (v1) Checkout Configurations API
  description: The Whop REST API (v1) is the current primary REST surface for the Whop digital-products / memberships / creator-commerce platform.
  version: '1.0'
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Whop Terms of Service
    url: https://whop.com/terms-of-service/
servers:
- url: https://api.whop.com/api/v1
  description: Production
- url: https://sandbox-api.whop.com/api/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Checkout Configurations
  description: Reusable checkout / payment flow configurations.
paths:
  /checkout_configurations:
    get:
      operationId: listCheckoutConfigurations
      tags:
      - Checkout Configurations
      summary: List checkout configurations
      responses:
        '200':
          description: A page of checkout configurations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CheckoutConfiguration'
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
    post:
      operationId: createCheckoutConfiguration
      tags:
      - Checkout Configurations
      summary: Create a checkout configuration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutConfiguration'
      responses:
        '201':
          description: The created checkout configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutConfiguration'
  /checkout_configurations/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrieveCheckoutConfiguration
      tags:
      - Checkout Configurations
      summary: Retrieve a checkout configuration
      responses:
        '200':
          description: A checkout configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutConfiguration'
    delete:
      operationId: deleteCheckoutConfiguration
      tags:
      - Checkout Configurations
      summary: Delete a checkout configuration
      responses:
        '204':
          description: The checkout configuration was deleted.
components:
  schemas:
    PageInfo:
      type: object
      description: Cursor pagination metadata.
      properties:
        has_next_page:
          type: boolean
        has_previous_page:
          type: boolean
        start_cursor:
          type:
          - string
          - 'null'
        end_cursor:
          type:
          - string
          - 'null'
    CheckoutConfiguration:
      type: object
      description: A reusable checkout / payment flow configuration.
      properties:
        id:
          type: string
        plan_id:
          type:
          - string
          - 'null'
        redirect_url:
          type:
          - string
          - 'null'
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Whop API key
      description: 'Bearer token authentication. Use a Company/Account API key or an App API key in the `Authorization: Bearer <API_KEY>` header. OAuth access tokens are used when acting on behalf of a signed-in Whop user.'
