openapi: 3.0.3
info:
  title: Whop REST API (v1) Checkout Configurations Promo Codes API
  description: 'The Whop REST API (v1) is the current primary REST surface for the Whop digital-products / memberships / creator-commerce platform. It lets applications manage memberships and access, products (access passes) and their pricing plans, take payments and issue refunds, manage users and companies, build checkout flows, pay out users via transfers, and register webhooks. All requests are authenticated with a Bearer token (`Authorization: Bearer <API_KEY>`); a Company/Account API key and an App API key are the two key types, with OAuth tokens used when acting on behalf of a signed-in Whop user.

    Grounding notes: base URLs, the Bearer scheme, the `List memberships` and `List payments` query parameters and response fields, and the resource / operation catalog are taken from Whop''s published documentation at docs.whop.com (see the docs `llms.txt` index). Individual action sub-paths (for example the cancel / pause / resume membership actions) are modeled from the documented operation names; verify exact path segments against the live reference on reconciliation.'
  version: '1.0'
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
    url: https://apievangelist.com
  license:
    name: API documentation - Whop Terms of Service
    url: https://whop.com/terms-of-service/
servers:
- url: https://api.whop.com/api/v1
  description: Production
- url: https://sandbox-api.whop.com/api/v1
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Promo Codes
  description: Discount / promo codes applied at checkout.
paths:
  /promo_codes:
    get:
      operationId: listPromoCodes
      tags:
      - Promo Codes
      summary: List promo codes
      responses:
        '200':
          description: A page of promo codes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PromoCode'
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
    post:
      operationId: createPromoCode
      tags:
      - Promo Codes
      summary: Create a promo code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
      responses:
        '201':
          description: The created promo code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
  /promo_codes/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: retrievePromoCode
      tags:
      - Promo Codes
      summary: Retrieve a promo code
      responses:
        '200':
          description: A promo code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
    post:
      operationId: updatePromoCode
      tags:
      - Promo Codes
      summary: Update a promo code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoCode'
      responses:
        '200':
          description: The updated promo code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromoCode'
    delete:
      operationId: deletePromoCode
      tags:
      - Promo Codes
      summary: Delete a promo code
      responses:
        '204':
          description: The promo code was deleted.
components:
  schemas:
    PromoCode:
      type: object
      description: A discount / promo code applied at checkout.
      properties:
        id:
          type: string
        code:
          type: string
        amount_off:
          type: number
          nullable: true
        percent_off:
          type: number
          nullable: true
        status:
          type: string
        created_at:
          type: string
          format: date-time
    PageInfo:
      type: object
      description: Cursor pagination metadata.
      properties:
        has_next_page:
          type: boolean
        has_previous_page:
          type: boolean
        start_cursor:
          type: string
          nullable: true
        end_cursor:
          type: string
          nullable: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Whop API key
      description: 'Bearer token authentication. Use a Company/Account API key or an App API key in the `Authorization: Bearer <API_KEY>` header. OAuth access tokens are used when acting on behalf of a signed-in Whop user.'
